
body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

#menuPanel{
position:absolute;
bottom:0;
width:100%;
background:rgba(0,0,0,0.8);
padding:20px;
}

.item{
margin-bottom:10px;
}

button{
background:#ff5722;
border:none;
padding:10px 15px;
color:white;
border-radius:6px;
cursor:pointer;
}
