
body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

#menuPanel{
position:fixed;
bottom:0;
width:100%;
background:rgba(0,0,0,0.85);
padding:25px;
font-size:22px;
}

.item{
margin-bottom:20px;
}

button{
background:#ff5722;
border:none;
padding:14px 22px;
font-size:20px;
color:white;
border-radius:8px;
cursor:pointer;
}
